.combined-calendar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 4rem auto 0 auto;
  gap: 5px;
  padding: 0 1rem;
  max-width: 1200px;
  width: 90%;
  height: auto;
  aspect-ratio: 2/1;
  place-self: center;
}

.calendar-grid {
  font-size: medium;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
}

.calendar-grid > *:nth-child(7n + 1) {
  border-left: 1px solid var(--grey);
}
.calendar-grid > :nth-last-child(-n + 7) {
  /* border-bottom: 1px solid var(--grey); */
  box-shadow: inset 0 -1px 0 0 var(--grey);
}

.calendar-side-bar {
  border: 1px solid var(--grey);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  /* overflow: hidden; */
}

.calendar-cell {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  color: var(--off-black);
  background: var(--off-white);
  transition: background-color 0.3s;
  font-size: small;
}

.calendar-cell:hover {
  background: var(--grey-light);
  color: var(--primary);
  font-weight: bolder;
}

.calendar-cell-date {
  text-align: center;
  width: 100%;
  font-size: larger;
}

.calendar-day {
  display: flex;
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  justify-content: center;
  align-items: center;
  color: var(--off-black);
  background: var(--off-white);
  transition: all 0.3s;
}

.calendar-grid > :nth-child(7) {
  border-top-right-radius: 5px;
}
.calendar-grid > :nth-last-child(1) {
  border-bottom-right-radius: 5px;
}

.calendar-day .full {
  display: inline;
}

.calendar-day .abbr {
  display: none;
}

.event-item:nth-child(even) {
  background-color: var(--grey-light);
}

.event-item:nth-child(odd) {
  background-color: var(--grey);
}

.event-item-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1px 1rem;
}

.dot-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.dot-container > :nth-child(odd) {
  background-color: var(--primary-light);
}

.dot-container > :nth-child(even) {
  background-color: var(--secondary);
}

.dot {
  height: 12px;
  aspect-ratio: 1 / 1;
  display: inline-block;
  margin: 1px;
  border-radius: 50%;
}

.side-bar-top-container {
  height: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-items: center;
  border-bottom: 1px solid var(--grey);
  background-color: var(--grey-light);
  border-top-left-radius: 4px;
}

.current-day-container {
  display: flex;
  grid-column: span 3;
  gap: 1rem;
  padding: 8px;
}

.top-btn-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  height: 100%;
  grid-column: span 2;
}

.selector-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  transition: all 100ms;
  background-color: var(--grey-light);
}

.selector-btn svg {
  height: 1.5rem;
  fill: var(--grey);
}

.selector-btn:hover {
  background-color: var(--off-white);
  cursor: pointer;
}

.selector-btn:hover > svg {
  fill: var(--primary);
}

.event-row {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  padding: 4px 1rem;
  transition: all 100ms ease-in-out;
}

.event-row:hover {
  scale: 101%;
  cursor: pointer;
}

.event-row:nth-child(odd) {
  background-color: var(--off-black);
  color: var(--off-white);
}

.event-row:nth-child(even) {
  background-color: var(--grey-light);
  color: var(--off-black);
}

.side-bar-container {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
  height: 100%;
}

.btn-container {
  display: flex;
  height: 3rem;
  padding: 4px;
}

.switch-btn {
  height: 100%;
  stroke: var(--off-black);
  transition: all 300ms;
}

.switch-btn:hover {
  rotate: 180deg;
  cursor: pointer;
  stroke: var(--primary-light);
}

.switch-btn:active {
  scale: 110%;
}

.popup-events {
  position: absolute;
  inset: 0;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--off-black);
  color: var(--off-white);
  padding: 1rem;
  border-radius: 8px;
  width: clamp(300px, 10rem, 90%);
  height: clamp(300px, 15rem, 60vh);
  transition: opacity 100ms;
  z-index: 10;
  border: 1px solid var(--grey-dark);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.popup-content {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
}

.popup-btn {
  padding: 4px 1rem;
  background-color: var(--grey-dark);
  text-transform: uppercase;
  font-weight: bold;
  border-radius: 4px;
  transition: all 100ms;
}

.popup-btn:hover {
  background-color: var(--off-white);
  color: var(--off-black);
  cursor: pointer;
}

.popup-title {
  font-size: larger;
  font-weight: bold;
  text-align: center;
  width: 100%;
}

.popup-description {
  color: var(--grey-dark);
}

.popup-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px dashed var(--grey);
}

.side-bar-top-container-mobile {
  display: none;
}

.side-bar-container-mobile {
  display: none;
}

.event-row-empty {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  width: 100%;
  padding: 4px 1rem;
  transition: all 100ms ease-in-out;
  grid-column: span 2;
}

@media (max-width: 1024px) {
  .calendar-side-bar {
    display: none;
  }

  .side-bar-top-container-mobile {
    height: auto;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    align-items: center;
    border: 1px solid var(--grey);
    border-bottom: 0;
    background-color: var(--grey-light);
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .combined-calendar-grid {
    display: flex;
    gap: 0;
    flex-direction: column;
    border-radius: 0;
  }

  .side-bar-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .calendar-grid > :nth-child(7),
  .calendar-grid > :nth-last-child(1) {
    border-radius: 0;
  }

  .dot {
    height: 8px;
  }

  .side-bar-container-mobile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid var(--grey);
    padding: 4px;
    margin-top: 8px;
    gap: 1rem;
    width: 100%;
    height: auto;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .btn-container {
    display: flex;
    height: auto;
  }

  .switch-btn {
    height: 1.5rem;
  }

  .top-btn-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    border-top-right-radius: 4px;
    overflow: hidden;
  }
}

@media (max-width: 768px) {
  .side-bar-container-mobile {
    grid-template-columns: 1fr;
  }

  .combined-calendar-grid {
    width: 100%;
    padding: 0 1rem;
  }

  .calendar-day .full {
    display: none;
  }

  .calendar-day .abbr {
    text-transform: uppercase;
    display: inline;
  }

  .dot {
    height: 4px;
  }

  .calendar-grid {
    font-size: small;
  }

  .calendar-cell {
    font-size: smaller;
  }
}
