*:focus {
  outline: 1px solid rgba(10, 10, 10, 0.5);
}

h1 {
  text-align: center;
  text-decoration: underline;
  font-size: xx-large;
  font-weight: bold;
  text-transform: uppercase;
}

h3 {
  text-transform: capitalize;
}

.h3-title {
  color: var(--grey-dark);
  margin-right: 1rem;
}

.form-section-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 1rem;
}

.items-table {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin: 1rem 0;
}

.data-container {
  padding-left: 1rem;
}

.items-row {
  width: clamp(25%, 25rem, 50%);
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 1rem;
}

.items-row:nth-child(odd) {
  background-color: var(--off-black);
  color: var(--off-white);
}

.items-row:nth-child(even) {
  background-color: var(--grey-light);
}

.form-btn-container {
  display: flex;
  gap: 4px;
}

.items-row:nth-child(odd) svg {
  fill: var(--off-white);
}

.edit-form-container {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 4px;
}

.edit-form-row {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 4px;
  border-bottom: 1px dashed var(--grey-dark);
}

.form-btn {
  display: flex;
  width: 2.5rem;
  aspect-ratio: 1/1;
  justify-content: center;
  align-items: center;
  color: var(--off-black);
  transition: all 100ms;
}

.form-btn-expand {
  display: flex;
  width: 2.5rem;
  height: 2.5rem;
  justify-content: center;
  align-items: center;
  color: var(--off-black);
  transition: all 100ms;
  border-radius: 8px;
}

.form-btn-expand:hover {
  cursor: pointer;
  background-color: var(--off-white);
}

.form-btn-expand:hover > svg {
  fill: var(--grey);
}

.form-btn:last-child {
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.form-btn:last-child:hover > * {
  fill: var(--secondary);
}

.form-btn > svg,
.form-btn-expand > svg {
  height: 40%;
  fill: var(--off-black);
  transition: all 100ms;
}

.form-btn:hover {
  cursor: pointer;
  background-color: var(--off-white);
}

.form-btn:hover > svg {
  fill: var(--grey);
}

.form-input {
  background-color: var(--off-white);
  color: var(--off-black);
  outline: none;
  padding: 0 8px;
  border-radius: 4px;
  margin-top: 4px;
  margin-bottom: 4px;
}

.edit-row {
  margin-left: 1rem;
}

.edit-form {
  width: 100%;
  margin: 8px 0;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
}

.team-container {
  width: 100%;
}

.team-details {
  display: flex;
  gap: 2rem;
}

.items-row:nth-child(odd) .form-input {
  background-color: var(--grey-dark);
  color: var(--off-white);
}

.items-row:nth-child(even) .form-input {
  background-color: var(--off-white);
  color: var(--off-black);
}

.add-btn-container {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.input-container {
  height: 100%;
  max-width: 0;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

.input-container-hidden {
  opacity: 0;
  border-top-right-radius: 5rem;
  border-bottom-right-radius: 5rem;
}

.input-container-show {
  max-width: 100%;
  opacity: 100%;
  border-top-left-radius: 5rem;
  border-bottom-left-radius: 5rem;
}

.form-container {
  height: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1rem;
  padding: 4px 1rem;
  background-color: var(--primary-light);
  color: var(--off-white);
}

.my-input {
  background-color: var(--primary-lighter);
  color: var(--primary);
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
}

.my-input::placeholder {
  color: var(--primary);
}

.my-input-submit {
  background-color: var(--primary);
  color: var(--secondary);
  padding: 1px 1rem;
  border-radius: 8px 8px 8px 8px;
  transition: all 100ms;
}

.my-input-submit:hover {
  background-color: var(--primary-dark);
  color: var(--off-white);
  cursor: pointer;
}
.plus-btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
  aspect-ratio: 1/1;
  transition: all 500ms;
}

.plus-btn-container > svg {
  width: 1rem;
}

.plus-btn-container:hover {
  cursor: pointer;
}

.plus-btn-show {
  border-radius: 0 50% 50% 0;
  background-color: var(--primary-light);
}

.plus-btn-show:hover {
  background-color: var(--primary-dark);
}

.plus-btn-show > * {
  fill: var(--secondary);
}

.plus-btn-show:hover > * {
  fill: var(--off-white);
}

.plus-btn-hidden {
  border-radius: 50%;
  background-color: var(--grey-light);
}

.plus-btn-hidden:hover {
  background-color: var(--grey);
}

.plus-btn-hidden > * {
  fill: var(--grey);
}

.plus-btn-hidden:hover > * {
  fill: var(--primary);
}

.svg-style {
  transition: all 200ms;
}

.add-btn-container-large {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin: 1rem 0;
}

.form-container-large {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1rem;
  background-color: var(--primary-light);
  color: var(--off-white);
}

.form-container-large-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  width: 100%;
  border-bottom: 1px dashed var(--primary-dark);
  padding: 4px 0;
}

.form-container-large label {
  text-decoration: underline;
}

.input-container-large {
  max-height: 0;
  max-width: 50%;
  transition: all 500ms ease-in-out;
  overflow: hidden;
}

.input-container-large-hidden {
  opacity: 0;
  border-radius: 1rem;
}

.input-container-large-show {
  max-height: 30rem;
  opacity: 100%;
  border-radius: 1rem;
}

.plus-btn-container-large {
  height: 100%;
  display: flex;
  padding: 8px;
  transition: all 500ms;
}

.plus-btn-container-large > svg {
  width: 1rem;
}

.plus-btn-container-large:hover {
  cursor: pointer;
}

.plus-btn-large-show {
  border-radius: 50% 50% 0 0;
  background-color: var(--primary-light);
}

.plus-btn-large-show:hover {
  background-color: var(--primary-dark);
}

.plus-btn-large-show > * {
  fill: var(--secondary);
}

.plus-btn-large-show:hover > * {
  fill: var(--off-white);
}

.plus-btn-large-hidden {
  border-radius: 50%;
  background-color: var(--grey-light);
}

.plus-btn-large-hidden:hover {
  background-color: var(--grey);
}

.plus-btn-large-hidden > * {
  fill: var(--grey);
}

.plus-btn-large-hidden:hover > * {
  fill: var(--primary);
}

.my-input-large {
  background-color: var(--primary-lighter);
  color: var(--primary);
  outline: none;
  padding: 4px 8px;
  border-radius: 4px;
  max-width: 60%;
}

.my-input-large::placeholder {
  color: var(--primary);
}

.my-input-submit-large {
  background-color: var(--primary);
  color: var(--secondary);
  margin-top: 1rem;
  padding: 1px 1rem;
  border-radius: 8px 8px 8px 8px;
  transition: all 100ms;
  grid-column: span 2;
}

.my-input-submit-large:hover {
  background-color: var(--primary-dark);
  color: var(--off-white);
  cursor: pointer;
}

.tournament-title {
  display: flex;
  flex-direction: column;
}

.add-checkmark {
  display: none;
}

@media (max-width: 1024px) {
  .items-row {
    width: 100%;
    max-width: 30rem;
  }

  .my-input-submit {
    display: none;
  }

  .add-checkmark {
    display: block;
    height: 100%;
    width: 100%;
    fill: var(--off-white);
  }
  
  .add-checkmark svg {
    transition: all 100ms;
    height: 1.5rem;
  }

  .add-checkmark:hover {
    fill: var(--primary-lighter);
    cursor: pointer;
  }

  .add-checkmark:hover svg {
    rotate: 5deg;
  }
}
@media (max-width: 768px) {
  .data-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0;
  }

  .items-row {
    max-width: 24rem;
  }

  .input-container-large {
    max-width: 100%;
  }
}
