@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

::selection {
  background: rgba(254, 0, 4, 40%);
}

:root {
  --primary: #0f1151;
  --primary-dark: #00003c;
  --primary-light: #1e2166;
  --primary-lighter: #abacd4;

  --secondary-dark: #8e1135;
  --secondary: #fe0004;

  --off-white: #fefefe;
  --grey: #aaaaaa;
  --grey-light: #eeeeee;
  --grey-dark: #666666;

  --off-black: #222222;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: var(--off-white);
}