@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

::selection {
  background: rgba(254, 0, 4, 40%);
}

:root {
  --primary: #0f1151;
  --primary-dark: #00003c;
  --primary-light: #1e2166;

  --secondary-dark: #8e1135;
  --secondary: #fe0004;

  --off-white: #fefefe;
  --grey: #aaaaaa;

  --off-black: #222222;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: var(--off-white);
}

.my-button {
  --p: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  fill: var(--off-white);
  color: var(--off-white);
  padding: 0.5rem 0.75rem;
  background: linear-gradient(var(--secondary) 0 0) calc(100% - var(--p, 0%)) /
    var(--p, 0%) no-repeat;
  transition: 0.4s, background-position 0s;
  outline: none;
}
.my-button:hover {
  --p: 0%;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  fill: var(--secondary);
}

.nav-link {
  font-size: clamp(1rem, 2vw, 3rem);
  transition: all 0.2s;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--secondary);
}

.calendar-grid {
  font-size: clamp(12px, 1vw, 2rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 2rem repeat(5, 5rem);
}

.calendar-grid > *:nth-child(7n + 1) {
  border-left: 1px solid var(--grey);
}
.calendar-grid > :nth-last-child(-n + 7) {
  border-bottom: 1px solid var(--grey);
}

.calendar-cell {
  display: flex;
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  justify-content: center;
  color: var(--off-black);
  background: var(--off-white);
  transition: all 0.3s;
}

.calendar-cell:hover {
  background: var(--off-black);
  color: var(--off-white);
}

.calendar-day {
  display: flex;
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  justify-content: center;
  align-items: center;
  color: var(--off-black);
  background: var(--off-white);
  transition: all 0.3s;
}

.calendar-grid > :nth-child(1) {
  border-top-left-radius: 1rem;
}
.calendar-grid > :nth-child(7) {
  border-top-right-radius: 1rem;
}
.calendar-grid > :nth-last-child(1) {
  border-bottom-right-radius: 1rem;
}
.calendar-grid > :nth-last-child(7) {
  border-bottom-left-radius: 1rem;
}

.calendar-day .full {
  display: none;
}

.calendar-day .abbr {
  text-transform: uppercase;
  display: inline;
}

@media (min-width: 768px) {
  .calendar-day .full {
    display: inline;
  }

  .calendar-day .abbr {
    display: none;
  }
}
