@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
@import "tailwindcss";

::selection {
  background: rgba(254, 0, 4, 40%);
}

:root {
  --primary: #0f1151;
  --primary-dark: #00003c;
  --primary-light: #1e2166;
  --primary-lighter: #abacd4;

  --secondary-dark: #8e1135;
  --secondary: #fe0004;

  --off-white: #fefefe;
  --grey: #aaaaaa;
  --grey-light: #eeeeee;
  --grey-dark: #666666;

  --off-black: #222222;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
}

body {
  background: var(--off-white);
}

.simple-button {
  width: 100%;
}

.simple-button:hover {
  font-weight: bold;
}

.button-container {
  display: flex;
  border-top: 1px solid var(--grey);
}

.button-container > :nth-child(odd) {
  background: var(--grey);
}

.my-button {
  --p: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  fill: var(--off-white);
  color: var(--off-white);
  padding: 0.5rem 0.75rem;
  background: linear-gradient(var(--secondary) 0 0) calc(100% - var(--p, 0%)) /
    var(--p, 0%) no-repeat;
  transition: 0.4s, background-position 0s;
  outline: none;
}
.my-button:hover {
  --p: 0%;
  border: 1px solid var(--secondary);
  color: var(--secondary);
  fill: var(--secondary);
}

.nav-link {
  font-size: clamp(1rem, 2vw, 3rem);
  transition: all 0.2s;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--secondary);
}

.combined-calendar-grid {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 5px;
  padding: 0 1rem;
  width: 100%;
  height: 50vh;
}

.calendar-grid {
  font-size: clamp(12px, 1vw, 2rem);
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  width: 100%;
  height: 100%;
}

.calendar-grid > *:nth-child(7n + 1) {
  border-left: 1px solid var(--grey);
}
.calendar-grid > :nth-last-child(-n + 7) {
  /* border-bottom: 1px solid var(--grey); */
  box-shadow: inset 0 -1px 0 0 var(--grey);
}

.calendar-side-bar {
  border: 1px solid var(--grey);
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.calendar-cell {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  color: var(--off-black);
  background: var(--off-white);
  transition: background-color 0.3s;
}

.calendar-cell:hover {
  background: var(--grey-light);
  color: var(--primary);
  font-weight: bolder;
}

.calendar-day {
  display: flex;
  border-top: 1px solid var(--grey);
  border-right: 1px solid var(--grey);
  justify-content: center;
  align-items: center;
  color: var(--off-black);
  background: var(--off-white);
  transition: all 0.3s;
}

.calendar-grid > :nth-child(7) {
  border-top-right-radius: 5px;
}
.calendar-grid > :nth-last-child(1) {
  border-bottom-right-radius: 5px;
}

.calendar-day .full {
  display: none;
}

.calendar-day .abbr {
  text-transform: uppercase;
  display: inline;
}

@media (min-width: 768px) {
  .calendar-day .full {
    display: inline;
  }

  .calendar-day .abbr {
    display: none;
  }
}

.event-item:nth-child(even) {
  background-color: var(--grey-light);
}

.event-item:nth-child(odd) {
  background-color: var(--grey);
}

.event-item-title {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  padding: 1px 1rem;
}

.dot-container > :nth-child(odd) {
  background-color: var(--primary-light);
}

.dot-container > :nth-child(even) {
  background-color: var(--secondary);
}

.dot {
  height: 25%;
  aspect-ratio: 1 / 1;
  display: inline-block;
  margin: 1px;
  border-radius: 50%;
}
