.nav-link {
  font-size: medium;
  transition: all 0.2s;
}

.nav-link:hover {
  cursor: pointer;
  color: var(--secondary);
}

.nav-link-container {
  display: flex;
  gap: 1rem;
}

.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  color: var(--off-white);
  font-weight: bold;
  height: 5rem;
  padding: 1rem;
  background-color: var(--primary);
}

.nav-btn {
  display: none;
}

.nav-image {
  height: 90%;
  width: auto;
}

/* Phones and up */
@media (max-width: 640px) {
}

@media (max-width: 768px) {
  .nav-link-container {
    display: none;
    flex-direction: column;
    position: absolute;
    height: auto;
    width: auto;
    right: 0;
    top: 0;
    background-color: var(--primary);
    align-items: end;
    padding: 1rem;
    border-bottom-left-radius: 4px;
    border-left: 1px solid var(--grey);
    border-bottom: 1px solid var(--grey);
  }

  .nav-link-container.expand-nav {
    display: flex;
  }

  .nav-btn {
    display: inline;
    width: 2rem;
    fill: white;
    transition: all 100ms;
  }

  .nav-btn:hover {
    cursor: pointer;
    scale: 95%;
  }

  .nav-link-container.expand-nav .exit-image {
    display: inline;
  }

  .exit-image {
    display: none;
    fill: var(--off-white);
    width: 1rem;
    transition: all 100ms;
  }

  .exit-image:hover {
    cursor: pointer;
    scale: 105%;
    rotate: 5deg;
  }
}


